@font-face {
  font-family: "Roboto Slab";
  src: url('./RobotoSlab-VariableFont_wght.ttf') format('truetype');
  font-weight: 125 950;
  font-stretch: 75% 125%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 400;
}

header, main {
  max-width: 92rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

header {
  margin-bottom: 3rem;
}

header>a {
  display: block;
  position: relative;
  color: white;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header nav {
  margin-top: 0.5rem;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header nav li {
  flex: 1 1 100%;
}

header nav li:not(:last-child) {
  margin-bottom: 2px;
}

header nav a {
  display: block;
  color: #fff;
  background-color: #94d194;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s;
}

header nav a:hover {
  background-color: #3d8f3d;
}

.current {
  background-color: #5eba5e;
}

li {
  list-style-type: none;
}

a {
  color: #3d8f3d;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 2.6rem;
  line-height: 2.9rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

h1+p {
  font-style: italic;
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1.5rem;
}

aside {
  padding-top: 1rem;
  margin-bottom: 2rem;
  border-top: 1px solid #cfe2cf;
  border-bottom: 1px solid #cfe2cf;
}

table {
  margin-bottom: 1rem;
  text-align: left;
}

td, tr {
  vertical-align: top;
}

th:nth-child(2) {
  padding-left: 0.6rem;
}

td:nth-child(2) {
  padding-left: 0.6rem;
}

footer {
  color: #fff;
  /* background-color: #5eba5e; */
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 2rem;
  text-align: center;

  background-color: #174B80;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23174B80'/%3E%3Cstop offset='1' stop-color='%23009DAA'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%2389D6B5' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2389D6B5' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%2389D6B5' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2389D6B5' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  /* background by SVGBackgrounds.com */
}

footer a {
  color: #fff;
}

img {
  width: 100%;
  display: block;
}

main img {
  margin-bottom: 1rem;
}

/* ------------------------ HOME ------------------------ */

.home th:first-child {
  width: 6.5rem;
  text-align: right;
}

.home th:nth-child(2) {
  font-weight: bold;
}

.event-landing {
  border-radius: 30px;
  padding: 2rem;
  margin-bottom: 3rem;
  /* background-color: #5299e0; */
  color: #fff;

  background-color: #00b7ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  /* background by SVGBackgrounds.com */
}

.event-landing th, .event-landing td {
  width: 50%;
}

.event-landing table {
  width: 100%;
}

/* ------------------------ PRODUCTEN ------------------------ */

.producten h2 {
  /* display: block; */
  color: #fff;
  background-color: #5eba5e;
  text-align: center;
  text-transform: uppercase;
}

/* .producten h2:not(:first-of-type) {
  margin-top: 3rem;
} */

.producten th {
  font-weight: bold;
}

.producten th:first-child {
  width: 10rem;
}

/* ------------------------ COURSES ------------------------ */

.courses main a {
  display: block;
  color: #fff;
  background-color: #5eba5e;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s;
}

.courses main a:hover {
  background-color: #3d8f3d;
}

.courses main>h2 {
  margin-top: 3rem;
}

.courses main section:first-of-type p:last-of-type {
  margin-bottom: 0;
}

/* ------------------------ OVER ONS ------------------------ */

.over-ons main img {
  margin-bottom: 0.5rem;
}

.over-ons p:not(:first-of-type) {
  margin-bottom: 3rem;
}

/* ------------------------ CONTACT ------------------------ */

form {
  background-color: #f5f0f0;
  padding: 2rem;
}

label {
  display: block;
  font-style: italic;
}

input, textarea {
  width: 100%;
  padding: 5px 4px;
  border: 1px solid #cfe2cf;
  transition: border 0.3s;
}

input:focus, textarea:focus {
  outline: none;
  border: 1px solid #5eba5e;
}

input {
  margin-bottom: 0.5rem;
}

textarea {
  resize: none;
  height: 9.5rem;
  margin-bottom: 1.5rem;
}

input[type=submit] {
  width: auto;
  color: #fff;
  background-color: #5eba5e;
  padding: 0.7rem 2rem;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.contact main div:first-of-type {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

iframe {
  height: 21.25rem;
  width: 100%;
  border: none;
}

.contact main ul li {
  margin-bottom: 1rem;
}

.contact main ul a {
  display: block;
  color: #fff;
  background-color: #5eba5e;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s;
}

.contact main ul a:hover {
  background-color: #3d8f3d;
}

/* ------------------------ Media Queries ------------------------ */

@media screen and (min-width: 46.875rem) {

  header, main {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  header>a {
    margin: 0;
  }

  header nav {
    margin-left: 0;
    margin-right: 0;
  }

  header nav li {
    flex: 1 1 25%;
  }

  header nav li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 2px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 2rem;
    align-items: start;
  }

  h1 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  p {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  /* ------------- Home ------------- */

  .home main>h1 {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  .home main>p {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  .event-landing {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .event-landing>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .event-landing span {
    flex: 1 1 50%;
  }

  .home main img:first-of-type {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .home aside {
    grid-column: 2 / -1;
    grid-row: 4 / 5;
  }

  /* ------------- Producten ------------- */

  .producten div:first-of-type {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .producten div:nth-of-type(2) {
    grid-column: 2 / -1;
    grid-row: 3 / 5;
  }

  .producten div:last-of-type {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  /* ------------------------ COURSES ------------------------ */

  .courses main a:first-of-type {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .courses main h2:first-of-type {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
  }

  .courses main img:first-of-type {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }

  .courses main section:first-of-type {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
  }

  .courses main h2:nth-of-type(2) {
    grid-column: 1 / -1;
    grid-row: 6 / 7;
  }

  .courses main section:nth-of-type(2) {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
    text-align: right;
  }

  .courses main img:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
  }

  .courses main h3:first-of-type {
    grid-column: 2 / 3;
    grid-row: 8 / 9;
  }

  .courses main img:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 9 / 10;
  }

  .courses main section:nth-of-type(3) {
    grid-column: 2 / 3;
    grid-row: 9 / 10;
  }

  .courses main h3:nth-of-type(2) {
    grid-column: 1 / 2;
    grid-row: 10 / 11;
    text-align: right;
  }

  .courses main section:nth-of-type(4) {
    grid-column: 1 / 2;
    grid-row: 11 / 12;
    text-align: right;
  }

  .courses main img:nth-of-type(4) {
    grid-column: 2 / 3;
    grid-row: 11 / 12;
  }

  /* ------------- Over ons ------------- */

  .over-ons main img {
    margin-bottom: 3rem;
  }

  .over-ons main img:first-of-type {
    justify-self: right;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .over-ons main p:nth-of-type(2) {
    grid-column: 2 / -1;
    grid-row: 3 / 4;
  }

  .over-ons main p:nth-of-type(3) {
    text-align: right;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .over-ons main img:nth-of-type(2) {
    grid-column: 2 / -1;
    grid-row: 4 / 5;
  }

  .over-ons main img:last-of-type {
    justify-self: right;
    grid-column: 1 / 2;
    grid-row: 5 / -1;
  }

  .over-ons main p:last-of-type {
    grid-column: 2 / 3;
    grid-row: 5 / -1;
  }

  /* ------------- Contact ------------- */

  .contact main ul {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .contact main article:first-of-type {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .contact main div:first-of-type {
    height: 100%;
    margin-top: 0;
    grid-column: 1 / -1;
    grid-row: 4 / 5;
  }
}

@media screen and (min-width: 70.3125rem) {

  header, main {
    padding-left: 2.8125rem;
    padding-right: 2.8125rem;
  }

  header {
    margin-bottom: 4rem;
  }

  h1 {
    font-size: 3rem;
  }

  h1+p {
    font-size: 1.3rem;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 93.75rem) {

  header {
    margin-bottom: 5rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.3rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h1+p {
    font-size: 1.5rem;
    margin-bottom: 4rem;
  }

  a, p, th, td, li, label, input, textarea {
    font-size: 1.2rem;
  }

  .home main img {
    margin-bottom: 5rem;
  }

  .home th:first-child {
    width: 10rem;
  }

  .producten th:first-child {
    width: 12rem;
  }

  .over-ons main img {
    margin-bottom: 4rem;
  }
}